html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
canvas {
  display: block;
}

/** CSS for structuring */
.dflex {
  display: flex;
} .dif {
  display: inline-flex;
}

.fdc {
  flex-direction: column;
} .fdr {
  flex-direction: row;
}

.jcc {
  justify-content: center;
} .jcsa {
  justify-content: space-around;
} .jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}


/** CSS of buttons */
.btnPlus {
  cursor: pointer;

  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #8A54B1;
  border-radius: 10px;
}

.line {
  /* position: absolute; */
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: white;
}

#btnReturn {
  position: absolute;
}



/** CSS for text */
.hrefNO {
  color: #000;
  text-decoration: none;
}



/** CSS for displays that will be turned on and off */
#mainMenu, #calibrationScreen {
  position: absolute;
  left: 0px;
  top: 0px;
}

#calibrationScreen {
  display: none;
}