html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#1c1348, #0b0623);
}
canvas {
  display: block;
}

/** CSS for structuring */
.dflex {
  display: flex;
} .dif {
  display: inline-flex;
}

.fdc {
  flex-direction: column;
} .fdr {
  flex-direction: row;
}

.jcc {
  justify-content: center;
} .jcsa {
  justify-content: space-around;
} .jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}


/** CSS of buttons */
.btn {
  cursor: pointer;

  border-style: solid;
  border-width: 2px;
  border-color: #000;
  background-color: #000;
  border-radius: 10px;

  box-shadow: 0px 0px 20px 5px #000;

  color: #fff;             
} .active p {
  text-shadow: #2f97ffc4 5px 0px 5px,
               #2f97ffc4 -5px 0px 5px,
               #2f97ffc4 0px 5px 5px,
               #2f97ffc4 0px -5px 5px;
} .active {
  border-style: solid;
  border-width: 2px;
  border-color: #2F97FF;
  box-shadow: 0px 0px 20px 5px #2f97ff9b;
} .btn:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #2F97FF;
  box-shadow: 0px 0px 20px 5px #2f97ff9b;
  text-shadow: #2f97ffc4 5px 0px 5px,
               #2f97ffc4 -5px 0px 5px,
               #2f97ffc4 0px 5px 5px,
               #2f97ffc4 0px -5px 5px;
}

.line {
  /* position: absolute; */
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: white;
}

#btnReturn {
  position: absolute;
}



/** CSS for text */
h1 {
  color: #fff;
}



/** CSS for displays that will be turned on and off */
#mainMenu, #calibrationScreen, #gameOver {
  position: absolute;
  left: 0px;
  top: 0px;
}

#calibrationScreen, #gameOver {
  display: none;
}